:root .color-aqua {
  color: #0ff;
}
:root .color-black {
  color: #000;
}
:root .color-blue {
  color: #00f;
}
:root .color-fuchsia {
  color: #f0f;
}
:root .color-gray {
  color: #808080;
}
:root .color-green {
  color: #008000;
}
:root .color-lime {
  color: #0f0;
}
:root .color-maroon {
  color: #800000;
}
:root .color-navy {
  color: #000080;
}
:root .color-olive {
  color: #808000;
}
:root .color-orange {
  color: #ffa500;
}
:root .color-purple {
  color: #800080;
}
:root .color-red {
  color: #f00;
}
:root .color-silver {
  color: #c0c0c0;
}
:root .color-teal {
  color: #008080;
}
:root .color-white {
  color: #fff;
}
:root .color-yellow {
  color: #ff0;
}
