/*! color.styl */

html:root

	.color

		&-aqua
			color aqua

		&-aquabold
			color aqua
			font-weight bold

		&-black
			color black

		&-blackbold
			color black
			font-weight bold

		&-blue
			color blue

		&-bluebold
			color blue
			font-weight bold

		&-fuchsia
			color fuchsia

		&-fuchsiabold
			color fuchsia
			font-weight bold

		&-gray
			color gray

		&-graybold
			color gray
			font-weight bold

		&-green
			color green

		&-greenbold
			color green
			font-weight bold

		&-lime
			color lime

		&-limebold
			color lime
			font-weight bold

		&-maroon
			color maroon

		&-maroonbold
			color maroon
			font-weight bold

		&-navy
			color navy

		&-navybold
			color navy
			font-weight bold

		&-olive
			color olive

		&-olivebold
			color olive
			font-weight bold

		&-orange
			color orange

		&-orangebold
			color orange
			font-weight bold

		&-purple
			color purple

		&-purplebold
			color purple
			font-weight bold

		&-red
			color red

		&-redbold
			color red
			font-weight bold

		&-silver
			color silver

		&-silverbold
			color silver
			font-weight bold

		&-teal
			color teal

		&-tealbold
			color teal
			font-weight bold

		&-white
			color white

		&-whitebold
			color white
			font-weight bold

		&-yellow
			color yellow

		&-yellowbold
			color yellow
			font-weight bold
