/*! color.styl */

html:root

	.color

		&-aqua,
		&-aquabold
			color aqua

		&-black,
		&-blackbold
			color black

		&-blue,
		&-bluebold
			color blue

		&-fuchsia,
		&-fuchsiabold
			color fuchsia

		&-gray,
		&-graybold
			color gray

		&-green,
		&-greenbold
			color green

		&-lime,
		&-limebold
			color lime

		&-maroon,
		&-maroonbold
			color maroon

		&-navy,
		&-navybold
			color navy

		&-olive,
		&-olivebold
			color olive

		&-orange,
		&-orangebold
			color orange

		&-purple,
		&-purplebold
			color purple

		&-red,
		&-redbold
			color red

		&-silver,
		&-silverbold
			color silver

		&-teal,
		&-tealbold
			color teal

		&-white,
		&-whitebold
			color white

		&-yellow,
		&-yellowbold
			color yellow

		&-aquabold,
		&-blackbold,
		&-bluebold,
		&-fuchsiabold,
		&-graybold,
		&-greenbold,
		&-limebold,
		&-maroonbold,
		&-navybold,
		&-olivebold,
		&-orangebold,
		&-purplebold,
		&-redbold,
		&-silverbold,
		&-tealbold,
		&-whitebold,
		&-yellowbold
			font-weight bold
