/*!*
 * COLOR GROUP
 */

html:root

	.color

		&-black
			color black

		&-blackbold
			color black
			font-weight bold

		&-blue
			color blue

		&-bluebold
			color blue
			font-weight bold

		&-gray
			color gray

		&-graybold
			color gray
			font-weight bold

		&-gray
			color gray

		&-graybold
			color gray
			font-weight bold

		&-pink
			color pink

		&-pinkbold
			color pink
			font-weight bold

		&-purple
			color purple

		&-purplebold
			color purple
			font-weight bold

		&-red
			color red

		&-redbold
			color red
			font-weight bold

		&-silver
			color silver

		&-silverbold
			color silver
			font-weight bold

		&-white
			color white

		&-whitebold
			color white
			font-weight bold

		&-yellow
			color yellow

		&-yellowbold
			color yellow
			font-weight bold
