/*!*
 * FONT GROUP
 */

html:root

	.font

		&-serif
			font-family serif

		&-sansserif
			font-family sans-serif

		&-monospace
			font-family monospace

		&-bold
			font-weight bold

		&-italic
			font-weight italic

		&-zero
			font-size 0

		&-xxsmall
			font-size 7px

		&-xsmall
			font-size 10px

		&-small
			font-size 13px

		&-medium
			font-size 16px

		&-large
			font-size 19px

		&-xlarge
			font-size 21px

		&-xxlarge
			font-size 24px
