:root .font-xxsmall {
  font-size: xx-small;
}
:root .font-xsmall {
  font-size: x-small;
}
:root .font-small {
  font-size: small;
}
:root .font-medium {
  font-size: medium;
}
:root .font-large {
  font-size: large;
}
:root .font-xlarge {
  font-size: x-large;
}
:root .font-xxlarge {
  font-size: xx-large;
}
:root .font-bold {
  font-weight: bold;
}
:root .font-serif {
  font-family: serif;
}
:root .font-sansserif {
  font-family: sans-serif;
}
:root .font-monospace {
  font-family: monospace;
}
