/*!*
 * Position Group
 */

html:root 

	.position

		&-static
			position static

		&-relative
			position relative

		&-absolute
			position absolute

			&-t0
				position absolute
				top 0

			&-t0r0
				position absolute
				top 0
				right 0

			&-t0l0
				position absolute
				top 0
				left 0

			&-b0
				position absolute
				bottom 0

			&-b0r0
				position absolute
				bottom 0
				right 0

			&-b0l0
				position absolute
				bottom 0
				left 0
