/*!*
 * .position- Group
 */

html:root 

	.position

		&-static
			position static

		&-relative
			position relative

		&-absolute
			position absolute

			&-t0
				position absolute
				top 0

			&-b0
				position absolute
				bottom 0
