:root .position-static {
  position: static;
}
:root .position-relative {
  position: relative;
}
:root .position-absolute {
  position: absolute;
}
:root .position-absolute-t0 {
  position: absolute;
  top: 0;
}
:root .position-absolute-b0 {
  position: absolute;
  bottom: 0;
}
