// color
aqua = aqua
black = black
blue = blue
fuchsia = fuchsia
gray = gray
green = green
lime = lime
maroon = maroon
navy = navy
olive = olive
orange = orange
purple = purple
red = red
silver = silver
teal = teal
white = white
yellow = yellow

// font-family
serif = unquote('Times, "Times New Roman", serif')
sans-serif = unquote('Helvetica, Arial, sans-serif')

// font-size
zero = 0.0001px
xx-small = 10px
x-small = 12px
small = 14px
medium = 16px
large = 18px
x-large = 20px
xx-large = 22px
