// Feel free to change the nature.

// color
black = black
blue = blue
gray = gray
green = green
red = red
white = white
yellow = yellow

// font-size
xx-small = 10px
x-small = 12px
small = 14px
medium = 16px
large = 18px
x-large = 20px
xx-large = 22px

// font-family
serif = unquote('Times, "Times New Roman", serif')
sans-serif = unquote('Helvetica, Arial, sans-serif')
monospace = unquote('"Courier New", Courier, monospace')
