@charset "utf-8";
:root .color-aqua {
  color: #0ff;
}
:root .color-black {
  color: #000;
}
:root .color-blue {
  color: #00f;
}
:root .color-fuchsia {
  color: #f0f;
}
:root .color-gray {
  color: #808080;
}
:root .color-green {
  color: #008000;
}
:root .color-lime {
  color: #0f0;
}
:root .color-maroon {
  color: #800000;
}
:root .color-navy {
  color: #000080;
}
:root .color-olive {
  color: #808000;
}
:root .color-orange {
  color: #ffa500;
}
:root .color-purple {
  color: #800080;
}
:root .color-red {
  color: #f00;
}
:root .color-silver {
  color: #c0c0c0;
}
:root .color-teal {
  color: #008080;
}
:root .color-white {
  color: #fff;
}
:root .color-yellow {
  color: #ff0;
}
:root .display-none {
  display: none;
}
:root .display-block {
  display: block;
}
:root .float-left {
  float: left;
}
:root .float-right {
  float: right;
}
:root .font-xxsmall {
  font-size: 10px;
}
:root .font-xsmall {
  font-size: 12px;
}
:root .font-small {
  font-size: 14px;
}
:root .font-medium {
  font-size: 16px;
}
:root .font-large {
  font-size: 18px;
}
:root .font-xlarge {
  font-size: 20px;
}
:root .font-xxlarge {
  font-size: 22px;
}
:root .font-bold {
  font-weight: bold;
}
:root .font-serif {
  font-family: Times, "Times New Roman", serif;
}
:root .font-sansserif {
  font-family: Helvetica, Arial, sans-serif;
}
:root .font-monospace {
  font-family: "Courier New", Courier, monospace;
}
:root .position-static {
  position: static;
}
:root .position-relative {
  position: relative;
}
:root .position-absolute {
  position: absolute;
}
:root .position-absolute-t0 {
  position: absolute;
  top: 0;
}
:root .position-absolute-b0 {
  position: absolute;
  bottom: 0;
}
:root .table-auto {
  table-layout: auto;
}
:root .table-fixed {
  table-layout: fixed;
}
:root .text-left {
  text-align: left;
}
:root .text-center {
  text-align: center;
}
:root .text-right {
  text-align: right;
}
:root .vertical-top {
  vertical-align: top;
}
:root .vertical-middle {
  vertical-align: middle;
}
:root .vertical-bottom {
  vertical-align: bottom;
}
:root .width-full {
  width: 100%;
}
:root .width-half {
  width: 50%;
}
