/* globalize.css v1.0.1 | MIT License | github.com/BYODKM/globalize.css */

@charset "utf-8";

/**
 * clear.styl
 */
html:root .clear-both      { clear: both; }
html:root .clear-fix:before,
html:root .clear-fix:after { content: " "; display: table; }
html:root .clear-fix:after { clear: both; }

/**
 * color.styl
 */
html:root .color-aqua,
html:root .color-aquabold    { color: #0ff; }
html:root .color-black,
html:root .color-blackbold   { color: #000; }
html:root .color-blue,
html:root .color-bluebold    { color: #00f; }
html:root .color-fuchsia,
html:root .color-fuchsiabold { color: #f0f; }
html:root .color-gray,
html:root .color-graybold    { color: #808080; }
html:root .color-green,
html:root .color-greenbold   { color: #008000; }
html:root .color-lime,
html:root .color-limebold    { color: #0f0; }
html:root .color-maroon,
html:root .color-maroonbold  { color: #800000; }
html:root .color-navy,
html:root .color-navybold    { color: #000080; }
html:root .color-olive,
html:root .color-olivebold   { color: #808000; }
html:root .color-orange,
html:root .color-orangebold  { color: #ffa500; }
html:root .color-purple,
html:root .color-purplebold  { color: #800080; }
html:root .color-red,
html:root .color-redbold     { color: #f00; }
html:root .color-silver,
html:root .color-silverbold  { color: #c0c0c0; }
html:root .color-teal,
html:root .color-tealbold    { color: #008080; }
html:root .color-white,
html:root .color-whitebold   { color: #fff; }
html:root .color-yellow,
html:root .color-yellowbold  { color: #ff0; }
html:root .color-aquabold,
html:root .color-blackbold,
html:root .color-bluebold,
html:root .color-fuchsiabold,
html:root .color-graybold,
html:root .color-greenbold,
html:root .color-limebold,
html:root .color-maroonbold,
html:root .color-navybold,
html:root .color-olivebold,
html:root .color-orangebold,
html:root .color-purplebold,
html:root .color-redbold,
html:root .color-silverbold,
html:root .color-tealbold,
html:root .color-whitebold,
html:root .color-yellowbold  { font-weight: bold; }

/**
 * cursor.styl
 */
html:root .cursor-default { cursor: default; }
html:root .cursor-pointer { cursor: pointer; }
html:root .cursor-help    { cursor: help; }
html:root .cursor-left    { cursor: w-resize; }
html:root .cursor-right   { cursor: e-resize; }
html:root .cursor-deny    { cursor: not-allowed; }

/**
 * display.styl
 */
html:root .display-none        { display: none !important; }
html:root .display-block       { display: block; }
html:root .display-inlineblock { display: inline-block; }

/**
 * float.styl
 */
html:root .float-left    { float: left; }
html:root .float-right   { float: right; }
html:root .float-none    { float: none; }
html:root .float-wrapper { width: 100%; overflow: hidden; }

/**
 * font.styl
 */
html:root .font-serif     { font-family: serif; }
html:root .font-sansserif { font-family: sans-serif; }
html:root .font-monospace { font-family: monospace; }
html:root .font-bold      { font-weight: bold; }
html:root .font-italic    { font-weight: italic; }
html:root .font-zero      { font-size: 0; }
html:root .font-xxsmall   { font-size: xx-small; }
html:root .font-xsmall    { font-size: x-small; }
html:root .font-small     { font-size: small; }
html:root .font-medium    { font-size: medium; }
html:root .font-large     { font-size: large; }
html:root .font-xlarge    { font-size: x-large; }
html:root .font-xxlarge   { font-size: xx-large; }

/**
 * position.styl
 */
html:root .position-static        { position: static; }
html:root .position-relative      { position: relative; }
html:root .position-absolute      { position: absolute; }
html:root .position-absolute-t0   { position: absolute; top: 0; }
html:root .position-absolute-t0r0 { position: absolute; top: 0; right: 0; }
html:root .position-absolute-t0l0 { position: absolute; top: 0; left: 0; }
html:root .position-absolute-b0   { position: absolute; bottom: 0; }
html:root .position-absolute-b0r0 { position: absolute; bottom: 0; right: 0; }
html:root .position-absolute-b0l0 { position: absolute; bottom: 0; left: 0; }

/**
 * table.styl
 */
html:root .table-auto  { table-layout: auto; }
html:root .table-fixed { table-layout: fixed; }

/**
 * text.styl
 */
html:root .text-left        { text-align: left; }
html:root .text-center      { text-align: center; }
html:root .text-right       { text-align: right; }
html:root .text-underline   { text-decoration: underline; }
html:root .text-linethrough { text-decoration: line-through; }
html:root .text-uppercase   { text-transform: uppercase; }
html:root .text-lowercase   { text-transform: lowercase; }

/**
 * vertical.styl
 */
html:root .vertical-top    { vertical-align: top; }
html:root .vertical-middle { vertical-align: middle; }
html:root .vertical-bottom { vertical-align: bottom; }

/**
 * width.styl
 */
html:root .width-auto { width: auto; }
html:root .width-full { width: 100%; }
html:root .width-half { width: 50%; }
