// color
blue = #08f
red = #f08

// font-size
xx-small = 7px
x-small = 10px
small = 13px
medium = 16px
large = 19px
x-large = 21px
xx-large = 24px

// font-family
serif = unquote('Times, "Times New Roman", serif')
sans-serif = unquote('Helvetica, Arial, sans-serif')
monospace = unquote('Monaco, monospace')
