html:root .u-color

  &--black
    color black

  &--dimgray
    color dimgray

  &--gray
    color gray

  &--darkgray
    color darkgray

  &--silver
    color silver

  &--lightgray
    color lightgray

  &--whitesmoke
    color whitesmoke

  &--white
    color white

  &--brown
    color brown

  &--maroon
    color maroon

  &--red
    color red

  &--salmon
    color salmon

  &--tomato
    color tomato

  &--chocolate
    color chocolate

  &--tan
    color tan

  &--wheat
    color wheat

  &--orange
    color orange

  &--gold
    color gold

  &--khaki
    color khaki

  &--beige
    color beige

  &--olive
    color olive

  &--yellow
    color yellow

  &--green
    color green

  &--lime
    color lime

  &--teal
    color teal

  &--aqua
    color aqua

  &--skyblue
    color skyblue

  &--navy
    color navy

  &--blue
    color blue

  &--indigo
    color indigo

  &--violet
    color violet

  &--purple
    color purple

  &--fuchsia
    color fuchsia

  &--crimson
    color crimson

  &--pink
    color pink
