html.html:root .cursor

  &--default
    cursor default

  &--pointer
    cursor pointer

  &--help
    cursor help

  &--left
    cursor w-resize

  &--right
    cursor e-resize

  &--deny
    cursor not-allowed
