html:root .list-style

  &--none
    list-style none

  &--disc
    list-style disc

  &--circle
    list-style circle

  &--square
    list-style square

  &--lower-roman
    list-style lower-roman

  &--upper-roman
    list-style upper-roman

  &--lower-greek
    list-style lower-greek

  &--decimal
    list-style decimal

  &--decimal-leading-zero
    list-style decimal-leading-zero

  &--lower-latin
    list-style lower-latin

  &--upper-latin
    list-style upper-latin

  &--upper-alpha
    list-style upper-alpha

  &--cjk-ideographic
    list-style cjk-ideographic

  &--hiragana
    list-style hiragana

  &--katakana
    list-style katakana

  &--hiragana-iroha
    list-style hiragana-iroha

  &--katakana-iroha
    list-style katakana-iroha

  &--hebrew
    list-style hebrew

  &--armenian
    list-style armenian

  &--georgian
    list-style georgian
