html:root .margin

  &--auto
    margin-right auto
    margin-left auto

  &--none
    margin 0

  &--0
    margin 0

  &--tb-0
    margin-top 0
    margin-bottom 0

  &--t-0
    margin-top 0

  &--b-0
    margin-bottom 0

  &--lr-0
    margin-left 0
    margin-right 0

  &--l-0
    margin-left 0

  &--r-0
    margin-right 0

  &--1em
    margin 1em

  &--tb-1em
    margin-top 1em
    margin-bottom 1em

  &--t-1em
    margin-top 1em

  &--b-1em
    margin-bottom 1em

  &--lr-1em
    margin-left 1em
    margin-right 1em

  &--l-1em
    margin-left 1em

  &--r-1em
    margin-right 1em

  &--1rem
    margin 1rem

  &--tb-1rem
    margin-top 1rem
    margin-bottom 1rem

  &--t-1rem
    margin-top 1rem

  &--b-1rem
    margin-bottom 1rem

  &--lr-1rem
    margin-left 1rem
    margin-right 1rem

  &--l-1rem
    margin-left 1rem

  &--r-1rem
    margin-right 1rem
