html:root .padding

  &--none
    padding 0

  &--1em
    padding 1em

  &--1rem
    padding 1rem

  &--tb-1em
    padding-top 1em
    padding-bottom 1em

  &--tb-1rem
    padding-top 1rem
    padding-bottom 1rem

  &--t-1em
    padding-top 1em

  &--t-1rem
    padding-top 1rem

  &--b-1em
    padding-bottom 1em

  &--b-1rem
    padding-bottom 1rem

  &--lr-1em
    padding-left 1em
    padding-right 1em

  &--lr-1rem
    padding-left 1rem
    padding-right 1rem

  &--l-1em
    padding-left 1em

  &--l-1rem
    padding-left 1rem

  &--r-1em
    padding-right 1em

  &--r-1rem
    padding-right 1rem
