html:root .padding

  &--1em
    padding 1em

  &--none
    padding 0

  &--tb-1em
    padding-top 1em
    padding-bottom 1em

  &--t-1em
    padding-top 1em

  &--b-1em
    padding-bottom 1em

  &--lr-1em
    padding-left 1em
    padding-right 1em

  &--l-1em
    padding-left 1em

  &--r-1em
    padding-right 1em
