.sizing

  &--border-box
    -webkit-box-sizing border-box
    box-sizing border-box

  &--content-box
    -webkit-box-sizing content-box
    box-sizing content-box

  &--border-box
  &--content-box

    *
    *:before
    *:after
      -webkit-box-sizing inherit
      box-sizing inherit
