html:root .u-display

  &--none
    display none !important

  &--block
    display block

  &--inline
    display inline

  &--inline-block
    display inline-block

  &--list-item
    display list-item
